@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/* GENERAL */
*{
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0 auto;
  padding: 0 auto;
}
#active{
  color: #2581faad;
}
#logo:hover{
  cursor: pointer;
}
.nav{
  background-color: #ffe2abda;
  border: 1px solid rgba(255, 255, 255, 0.514);
  display: flex;
  height: 80px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.about-container{
  display: flex;
}

.about {
  margin: 80px;
  text-align: justify;
  font-size: 18px;
  flex: 50%;

}
.dbimg{
  margin: 100px;
  display: flex;
  flex: 50%;
  flex-direction: column;
}
#dbimg{
  width: 100%;
  height: 100%;
}


.search-selector:hover{
  cursor:pointer;
  background-color: #FAB126;
}
.poem-container:hover{
  cursor: pointer;
  background-color: #FAB126;
}

 /* small screens */
@media screen and (max-width: 600px){
  body{
  background: linear-gradient(300deg, #2581faad, #FAB126);
  background-attachment: fixed;
  }
  .nav{
    height: auto;
  }
  .nav h2{
    width: 50%  ;
  }
  #navbar-toggle{
    opacity: 50%;
  }
  #navbar-toggle:hover{
    opacity: 100%;
    cursor: pointer;
  }
  #menu{
    width: 100%;
    overflow: hidden;
    max-height: 0;
  }
  .menu-list{
    display: flex;
    justify-content: center;
    padding: 0;
    flex-direction: column;
    margin: 0 auto;
  }

  #menu-toggled{
    width: 50%;
  }

  .menu-list li{
    list-style: none;
    padding: 10px;
  }

  .menu-list li:hover{
    color: #2581faad;
    cursor: pointer;
    border-bottom: 1px solid #2581faad;
  }
    h2, h3{
    font-size: 20px;
  }

  
  .search-field{
    display: grid;
  }

  .author-search, .poem-search{
    border: 1px solid rgba(255, 255, 255, 0.514);
    background-color: #ffe2abda;
    width: auto;
    display: flex;
    min-height: 100px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    max-width: 500px;
  }
  .search-selector{
    width: 200px;
    height: 50px;
    background-color: #FFC559;
    display: flex;
    justify-content: center;
    text-decoration: underline;
    align-items: center;
    margin-top: 20px;
  }

  form{
    max-width: 200px;
    display: flex;
  }
  button, label, input{
    margin: 15px;
    text-align: center;
  }
  p{
    font-size: 17px;
    margin-left: 5px;
  }
  .poem{
    background-color: #daeaffad;
    margin: 10px 10px;
  }  
  .poem p::selection{
    background-color: #ffc559;
  }
  .fetching-poem{
    text-align: center;
    background-color: #daeaffad;
    margin: 10px 10px;
  }
  .poem-container{
    border: 2px solid rgba(255, 255, 255, 0.514);
    background-color: #ffc55993;
    margin: 10px 10px;
    text-align: center;
  }
  .error-info{
    margin-top: 50px;
    text-align: center;
    color: brown;
  }

}


/* big screens */
@media screen and (min-width: 601px){
  #menu-close, #navbar-toggle{
    visibility: hidden;
    position: absolute;
    opacity: 0;
  }
  body{
   background: linear-gradient(300deg, #2581faad, #FAB126);
   background-attachment: fixed;
   }

  .menu-list{
    display: flex;
    height: 20px;
    gap: 100px;
    list-style: none;
  }
  .menu-list li:hover{
    color: #2581faad;
    border-bottom: 1px solid #2581faad;
    cursor: pointer;
  }
    h2, h3{
    font-size: 20px;
  }
   .search-container{
    place-items: center;
    display: flex;
    justify-content: center;
    margin: 50px auto;
  }

   .author-search, .poem-search{
    border: 1px solid rgba(255, 255, 255, 0.514);
    background-color: #ffe2abda;
    display: flex;
    min-height: 100px;
    justify-content: center;
    align-items: center;
    max-width: 500px;
  }  

  .search-selector{
    width: 200px;
    height: 50px;
    background-color: #FFC559;
    display: flex;
    justify-content: center;
    text-decoration: underline;
    align-items: center;
    margin: 20px auto;
  }

  form{
    max-width: 200px;
    display: flex;
    text-align: center;
  }
  button, label, input{
    margin: 15px;
    text-align: center;
  }

  .poem{
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    margin: 0 auto;
    background-color: #daeaff57;
    max-width: 1000px;
  }
  .poem p::selection{
    background-color: #ffc559;
  }
  .fetching-poem{
  text-align: center;
  background-color: #daeaffad;
  margin: 15px auto;
  max-width: 1000px;
  }
  .poem-container{
    border: 2px solid rgba(255, 255, 255, 0.514);
    background-color: #ffc55993;
    max-width: 1000px;
    width: auto;
    text-align: center;
    margin: 15px auto;
  }

  .error-info{
    margin-top: 50px;
    text-align: center;
    color: brown;
  }
}

@media screen and (max-width: 1000px){

  .about-container{
    flex-flow: column wrap;
  }

  .about {
  margin: 50px 20px 0px 20px;
  }
  .dbimg{
    margin: 50px 20px 0px 20px;
  } 

}